body {
  margin: 0;
  text-align: center;
  background-color: rgba(40, 20, 121, 1);
}

li {
   margin: 15px auto;
   float:center;
   width:100px;
   height:20px;
   padding-top: 5px;
   padding-bottom: 5px;
   list-style: none;
}